@charset "UTF-8";
#tv-radio {
  width: 900px;
  height: 580px;
  margin: auto;
  background: url("../_imagens/radio-tv.png") no-repeat;
}
#musica {
  display: block;
  position: relative;
  left: 570px;
  top: 498px;
  width: 310px;
  height: 40px;
}

#video {
  display: block;
  position: relative;
  left: 88px;
  top: 81px;
  width: 440px;
}

@media only screen and (min-width: 798px) and (max-width: 998px) {
  #tv-radio {
    width: 752px;
    height: 479px;
    margin: auto;
    background: url("../_imagens/radio-tv-2.png") no-repeat;
  }
  #video {
    left: 72px;
    top: 55px;
    width: 370px;
  }
  #musica {
    left: 477px;
    top: 410px;
    width: 255px;
  }
}

@media only screen and (max-width: 797px) {
  #tv-radio {
    width: 300px;
    height: 307px;
    margin-left: -12px;
    background: url("../_imagens/radio-tv-3.png") no-repeat;
  }
  #video {
    left: 25px;
    top: -10px;
    width: 175px;
  }
  #musica {
    left: 10px;
    top: 240px;
    width: 275px;
  }
}
