@charset "UTF-8";

#conteudo img {
  width: 100%;
  height: 100%;
}

#frame-spec {
  border: none;
  overflow: hidden;
}

iframe #frame-spec::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 797px) {
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  #corpo-full {
    margin-left: -4px;
  }
  #conteudo img {
    width: 97%;
  }
  #frame-spec {
    width: 100%;
  }
}
